* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a{
  text-decoration: none;
}
body{
  overflow: hidden;
}
.wrapper {
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }

  
$primary_clr: #f40078;
$text_clr: #fff;
