

.icon-wrapper{

  margin-bottom: 50px;
  width: 100%;
  div.icon-container {
      width: 40%;
      padding: 10px;
      @include flex;
      @include md {
        margin: auto;
      }
      @include lg {
        width: 20%;
      }
      .fa-brands {
        font-size: 1.5rem;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          transform: translateY(-10px);
        }
        @include xl{
          font-size:1.8rem;
        }
      }
    }

}


