main {
  width: 90%;
  @include md {
    width: 60%;
  }
  @include lg {
    width: 45%;
  }
  .title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 45px;
    color: $text_clr;
  }
  p.body-text {
    font-size: 1.25rem;
    font-weight: 700;
    color: $text_clr;
    margin-bottom: 30px;
    line-height: 35px;
  }
  button.btn {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: $theme_clr;
    border: none;
    cursor: pointer;
  }
}
